body {
    /* background-color: #0f4c5c; */
    background-image: url('https://images.pexels.com/photos/934011/pexels-photo-934011.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    color: #4d194d;
}

.mainbox {
    box-sizing: border-box;
    width: 400px;
    height: 430px;
    border: solid #706677 2px;
    border-radius: 50% 20% / 10% 40%;
    box-shadow: 1px 1px 2px 3px #ced4da;
    text-align: center;
    margin: 150px 10px 0 450px;
    padding: 50px 50px 0 70px;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 17px;
    resize: vertical;
    text-align: center;
}

.name {
font-family: 'Cormorant Upright', serif;
}

p{
    text-align: left;
    margin: 0%;
    font-family: 'Cormorant', serif;
    font-weight: 5px;
}
