body {
    background: #fff1e6;
}

.mainbox {
    box-sizing: border-box;
    width: 400px;
    height: 430px;
    border: solid #706677 2px;
    padding: 5px;
    border-radius: 30px;
    padding: 1em;
    box-shadow: 1px 1px 2px 3px #ced4da;
}

/* button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
} */

/* Extra styles for the cancel button */
/* .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
} */

/* Float cancel and signup buttons and add an equal width */
/* .cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
.container {
  padding: 16px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .signinlbtn, .signupbtn {
     width: 100%;
  }
} */

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 4px;
    resize: vertical;
}

.login {
    width: 50%;
    padding: 12px;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 4px;
    resize: vertical;
    
}

.img {
    padding: 0px 1px 0 100px;
}
.content {
    padding: 150px 1px 0 100px;
}

button {
    margin-left: 250px;
}

.gap {
    padding: 2%;
    margin: 0%;
}